<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil | Flask Utilité</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <header>
            <nav>
                <ul>
                    <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
                    <li><a href="{{ url_for('a_propos') }}">À propos</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
            
        </header>
        <main>
            <h1>Bienvenue sur le site dédié à Flask</h1>
            <p>Flask est un micro-framework pour Python basé sur Werkzeug et Jinja2.</p>
            <img src="flask.png" alt="Logo Flask">
        </main>
        <footer>
            <p>© 2024 Flask Utilité. Tous droits réservés.</p>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
</body>
</html>
